<div class="container-lg "style="padding-top:12%;">
  <h1 class="text-center">Shopping Cart</h1>

  <div class="row">
    <div class="col-lg-9 col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>
              <img [src]="item.image" alt="Product Image" class="img-fluid" style="max-height: 100px;width: 100px; margin-top: 15%;">
            </td>
            <td>{{ item.title }}</td>
            <td>{{ item.price.toFixed(2) }}$</td>

            <td>{{ item.quantity }}
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-default" type="button" (click)="increaseQty(item)">
                <span class="badge badge-primary">+</span>
              </button>

              <button class="btn btn-default" type="button" (click)="decreaseQty(item)">
                <span class="badge badge-primary">-</span>
              </button>
            </div>
            </td>


            <td>{{ (item.price * item.quantity).toFixed(2)}}$</td>
            <td>





</td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteItem(item)"><mat-icon>delete</mat-icon></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 col-md-12" style="padding-bottom: 5%;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total</h5>

          <p class="card-text">Total: {{ totalPrice }}$</p>
          <button class="btn btn-primary btn-block" routerLink="/checkout">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
