@media screen and (max-width: 770px) {
  .table thead th {
    font-size: 10px;
  }

  .table tbody td {
    font-size: 8px;
  }

  .row {
    width: 90%;
  }

  .table {
    width: 100%;
  }


}
/* Custom styles for the badges */
.badge {
  background-color: #343a40;
  color: #fff;
}

.badge-primary {
  background-color: #212529;
  color: #fff;
}
