<div style="padding-top: 15%;">
<h1><strong> Welcome to our final web course project </strong></h1>
<h2>
  This is a sample of web application that allows you to create a user account, login, and view a list of products. You can also add products to your cart and checkout.

  This project was created using Angular , Node.js, and  firebase firestore by using the Angular CLI, boostrap and material design.

</h2>


</div>
<p>
  #first stage there is no cart in db
<img src="assets/1.png" alt="">
</p>
<p>
  #second stage after adding items to cart it will be saved in db
<img src="assets/2.png" alt="">
</p>
<p>
  example of who the cart is shown in db
<img src="assets/3.png" alt="">
</p>
<p>
  # third stage after pressing place order button the cart will be deleted from db and will be moved to orders collection
<img src="assets/4.png" alt="">
</p>
<p>
  in order collection each cart and and checkout collection will be saved in document by the correct time of the order
  this is an example of how the order collection will be saved in db
<img src="assets/5.png" alt="">
</p>
<p>
  this is an example of how the checkout collection will be saved in db
<img src="assets/6.png" alt="">
</p>
